.maindiv{
    width:100%;
}
.navbar{
    width:100%;
    min-height:4vw;
    background-color: slategray;
    color:black;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    font-size: medium;
}
.pagecomponent{
    width:99%;
    display:flex;
   
}
.sidebar_main_div{
    width:20%;
   
    
}

.table_main_div{

  
}

.sideoptions{
    display:flex; 
    width:80%;
    margin: auto;
    justify-content: left;
    align-items: center;
    padding:1vw;
}
.listing_heading_div{
 width:100%;
 text-align: left;
}
.listing_heading_h1{
    font-size:2vw;
}
.search_field_div{
    display:flex;
    justify-content: space-evenly;
    margin-top:1vw;
    margin-bottom:1vw;
}
.action_button{
    width:70%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.search_options_div{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
